<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.STR.mapper.NormalInspectionMapper">

    <insert id="insertNormalInspection" parameterType="com.STR.entity.NormalInspection" useGeneratedKeys="true" keyProperty="normalinspection_id">
        INSERT INTO normalinspection (tasksiteinstance_id, description, anomaly, image_url)
        VALUES (#{tasksiteinstance_id}, #{description}, #{anomaly}, #{image_url})
    </insert>

    <select id="findNormalInspectionByTaskSiteInstanceID" parameterType="int" resultType="com.STR.entity.NormalInspection">
        SELECT * FROM normalinspection
        WHERE tasksiteinstance_id = #{tasksiteinstance_id}
    </select>

</mapper>