<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.STR.mapper.SiteMapper">
    <resultMap id="siteResultMap" type="com.STR.entity.Site">
        <result property="frequency" column="frequency" typeHandler="com.STR.mapper.typeHandler.JsonFrequencyTypeHandler"/>
        <!-- 为其他属性配置映射 -->
    </resultMap>

    <insert id="addNewSite" parameterType="com.STR.entity.Site">
        insert into site(site_id, organization_id, group_id, name, address, longitude, latitude, state, usability, frequency, qrcode_serial_number, remark)
        values(#{site_id}, #{organization_id}, #{group_id}, #{name}, #{address}, #{longitude}, #{latitude}, #{state}, #{usability}, #{frequency, typeHandler=com.STR.mapper.typeHandler.JsonFrequencyTypeHandler}, #{qrcode_serial_number}, #{remark})
    </insert>

    <update id="editSiteById" parameterType="com.STR.entity.Site">
        UPDATE site
        SET organization_id = #{organization_id},
            group_id = #{group_id},
            name = #{name},
            address = #{address},
            longitude = #{longitude},
            latitude = #{latitude},
            state = #{state},
            usability = #{usability},
            remark = #{remark},
            frequency = #{frequency, typeHandler=com.STR.mapper.typeHandler.JsonFrequencyTypeHandler},
            qrcode_serial_number = #{qrcode_serial_number}
        WHERE site_id = #{site_id}
    </update>

    <update id="updateTimes" parameterType="com.STR.entity.Site">
        UPDATE site
        SET last_check_time = #{last_check_time},
            next_check_date = #{next_check_date}
        WHERE site_id = #{site_id}
    </update>
    
    <delete id="deleteSiteByID" parameterType="int">
        delete from site where site_id = #{id}
    </delete>

    <select id="selectSitesByOrganizationID" parameterType="int" resultType="com.STR.entity.Site" resultMap="siteResultMap">
        select * from site where organization_id = #{organization_id}
    </select>

    <!--  这种涉及到一些离谱查询条件的，就没办法用条件查询了  -->
    <select id="selectByTaskID" parameterType="int" resultType="com.STR.entity.Site" resultMap="siteResultMap">
        SELECT s.*, u.user_id user_id, u.user_name user_name
        FROM site s
        JOIN tasksite t ON s.site_id = t.site_id
        JOIN task t2 on t.task_id = t2.task_id
        JOIN user u on t2.user_id = u.user_id
        WHERE t.task_id = #{task_id}
    </select>
</mapper>