<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.STR.mapper.TaskSiteMapper">
    <insert id="insertTaskSite" parameterType="com.STR.entity.TaskSite" useGeneratedKeys="true" keyProperty="tasksite_id">
        INSERT INTO tasksite (task_id, site_id)
        VALUES (#{task_id}, #{site_id})
    </insert>
</mapper>