<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.STR.mapper.TaskMapper">

    <insert id="insertTask" parameterType="com.STR.entity.Task" useGeneratedKeys="true" keyProperty="task_id">
        INSERT INTO task (name, user_id, description, state)
        VALUES (#{name}, #{user_id}, #{description}, #{state})
    </insert>

    <!--  虽然有条件查询 但是很可惜 Task目前只需要全部查询  -->
    <select id="selectByCondition" parameterType="map" resultType="com.STR.entity.Task">
        SELECT t.*, u.user_name
        FROM task t
        JOIN user u ON t.user_id = u.user_id
        <where>
                t.is_deleted != 1
            <if test="task_id != null">
                AND t.task_id = #{task_id}
            </if>
        </where>
    </select>

    <!--  删除 但是软删除  -->
    <update id="deleteByTaskID" parameterType="int">
        UPDATE task SET is_deleted = 1,
                        state = 0
        WHERE task_id = #{task_id}
    </update>

    <!--  最普通不过的 更新 但是理论上只有TaskName description user_id state需要更改 -->
    <update id="update" parameterType="com.STR.entity.Task">
        UPDATE task SET name = #{name},
                        description = #{description},
                        user_id = #{user_id},
                        state = #{state}
        WHERE task_id = #{task_id}
    </update>

</mapper>