<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.STR.mapper.TaskSiteMapper">
    <insert id="insertTaskSite" parameterType="com.STR.entity.TaskSite" useGeneratedKeys="true" keyProperty="tasksite_id">
        INSERT INTO tasksite (task_id, site_id)
        VALUES (#{task_id}, #{site_id})
    </insert>

    <!--  唯一的作用就是为补全Task对象而服务  -->
    <select id="findSiteIDListByTaskID" parameterType="int" resultType="Integer">
        SELECT site_id FROM tasksite
        WHERE task_id = #{task_id}
    </select>
</mapper>