<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.STR.mapper.TaskInstanceMapper">
    <insert id="insertTaskInstance" parameterType="com.STR.entity.TaskInstance" useGeneratedKeys="true" keyProperty="taskinstance_id">
        INSERT INTO taskinstance (task_id, start_time, end_time, user_id, status)
        VALUES (#{task_id}, #{start_time}, #{end_time}, #{user_id}, #{status})
    </insert>
</mapper>